Post::create([
'title' => 'Judul Pertama',
'category_id' => 1,
'slug' => 'judul-pertama',
'excerpt' => 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laboriosam cupiditate alias beatae
perspiciatis vero consequatur corrupti',
'body' => '<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum quod quaerat sunt suscipit illum
    doloremque atque consectetur ullam praesentium? Sint error debitis nihil numquam culpa maxime quidem vitae omnis.
    Voluptates?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam voluptatem consequatur cum repudiandae, porro eveniet
    at. Beatae totam sequi maxime soluta non at aliquid ut accusamus voluptates aut? Minus quae id at nisi omnis.
    Ratione, mollitia cumque quasi nulla quam praesentium dolore reiciendis ex nam dolor error? Accusantium, enim
    perspiciatis.</p>'
])

Post::create([
'title' => 'Judul Kedua',
'category_id' => 2,
'slug' => 'judul-Ke-dua',
'excerpt' => 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla laboriosam cupiditate alias beatae
perspiciatis vero consequatur corrupti',
'body' => '<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum quod quaerat sunt suscipit illum
    doloremque atque consectetur ullam praesentium? Sint error debitis nihil numquam culpa maxime quidem vitae omnis.
    Voluptates?</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam voluptatem consequatur cum repudiandae, porro eveniet
    at. Beatae totam sequi maxime soluta non at aliquid ut accusamus voluptates aut? Minus quae id at nisi omnis.
    Ratione, mollitia cumque quasi nulla quam praesentium dolore reiciendis ex nam dolor error? Accusantium, enim
    perspiciatis.</p>'
])

Category::create([
'name' => 'Personal',
'slug' => 'personal'
])